:root{
    --cor-headfoot: #47037E;
    --cor-botoes: #8800F5;
    --cor-divisoes: #C689F8;
    --cor-icones: #380263;
}
*{margin:0; padding:0; font-size:100%; border: none; font-weight:300;}
a{text-decoration:none; cursor:pointer; opacity: 0.9;}
a:hover{opacity:1;}
ul,ol {list-style:none;}

.cabecalho{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: var(--cor-headfoot)
}
#logo{
    margin-left: 2%;
    height: auto;
    width: 10%;
    cursor: pointer;
}
#pesquisa{
    width: 600px;
    border-radius: 3px;
}
#btn-pesquisa{
    color: #fff;
    background-color: var(--cor-botoes);
    cursor: pointer;
    border-radius: 3px;
} 
#perfil{
  display:flex;
  justify-content: space-between;
  align-items: center;
 
     #btn-login{
         margin-right: 5px;
         cursor: pointer;
         color: var(--cor-botoes);
         background-color: var(--cor-headfoot);
         font-size: 40px;
         border: none;
     }
      p{
        color: #fff;
     } 
} 
#btn-menu{
    margin: 10px;
    color: #fff;
    background-color: var(--cor-botoes);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
#menu{
    background-color: #ffffff;
    width: 250px;
    padding: 20px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    transition: right 0.5s;

     hr{
        background-color: var(--cor-divisoes);  
     }
     a{
        color: #000000;
     }
     ul li{
        display:flex;
        justify-content: left;
        align-items: left;
     }

    ul li i{
        color: var(--cor-icones);
        padding: 2%;
    }
}
#menu button.close {
    position: absolute;
    top: 10px;
    left: 10px;
  }

main {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.5s;

      hr{
        height:15px;
        width: 100%;
        background-color: var(--cor-divisoes);
        border: none;
      }
}
.destaques {
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
     
     #dstqcarrosel{
        width: 600px;
     }
}
.categorias{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 10px;
    background-color: #ffffff;

     i{color: var(--cor-icones); font-size: 60px; cursor: pointer;}
}
.galeria-de-produtos{
    background-color: #ffffff;
    margin-right: 2%;
    margin-left: 2%;
  
     #produto{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
 
        img{width: 100%; height: auto; cursor: pointer;}

     }
     #ver-mais{position:absolute; right:50%; color:var(--cor-icones); cursor: pointer;}
}
.galeria-mostrando{ display:block;}
.galeria-oculto{ display:none;}
footer{
    background-color: var(--cor-headfoot);
    padding: 5%;

      .emaileempresa{ 
        button {background-color: var(--cor-botoes); cursor: pointer;}
        p {color: #fff;}
        img {width: 35%; height: auto;}
      }
      
      .infoesocial{

        #redessociais{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            font-size: 15px;
        }
    
      }
      ul{color: #fff;}
}

.infoesocial .emaileempresa .listactg{
   align-items: center;
}

.login-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}  
#login-tela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    align-items: center;
    border-radius: 5px;

     h2{
       color: var(--cor-botoes);
     }

     i{
      color: var(--cor-botoes);
      font-size: 20px;
     }
     a{
        color:var(--cor-botoes);
     }
} 

@media screen and (max-width:910px) {
    
     #pesquisa{ width: 400px;}
     #perfil {
       #btn-login{font-size: 32px;}
     }
}

@media screen and (max-width:768px)   {
     
     #pesquisa{ width: 250px;}
    
     .categorias {
       height: 85px;
        i{font-size: 30px;}
      }
}

@media screen and (max-width: 500px)  {
  
     #pesquisa{ width: 180px;}
     #perfil{
       #btn-login{font-size: 24px;}
     }
     #btn-menu{
      margin: 5px;
      padding: 3px;
    }
    .categorias{
      height: 70px;
       i{font-size: 20px;}
    }
}